<?xml version="1.0" encoding="UTF-8"?>
<plist>
  <dict>
    <key>maxParticles</key>
    <real>32</real>
    <key>angle</key>
    <real>45.000000</real>
    <key>angleVariance</key>
    <real>34.200001</real>
    <key>duration</key>
    <real>-1.000000</real>
    <key>blendFuncSource</key>
    <integer>1</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <real>0.760784</real>
    <key>startColorGreen</key>
    <real>0.878431</real>
    <key>startColorBlue</key>
    <real>0.078431</real>
    <key>startColorAlpha</key>
    <real>1.000000</real>
    <key>startColorVarianceRed</key>
    <real>0.000000</real>
    <key>startColorVarianceGreen</key>
    <real>0.000000</real>
    <key>startColorVarianceBlue</key>
    <real>0.000000</real>
    <key>startColorVarianceAlpha</key>
    <real>0.000000</real>
    <key>finishColorRed</key>
    <real>0.854902</real>
    <key>finishColorGreen</key>
    <real>0.054902</real>
    <key>finishColorBlue</key>
    <real>0.054902</real>
    <key>finishColorAlpha</key>
    <real>1.000000</real>
    <key>finishColorVarianceRed</key>
    <real>0.000000</real>
    <key>finishColorVarianceGreen</key>
    <real>0.000000</real>
    <key>finishColorVarianceBlue</key>
    <real>0.000000</real>
    <key>finishColorVarianceAlpha</key>
    <real>0.000000</real>
    <key>startParticleSize</key>
    <real>90.949997</real>
    <key>startParticleSizeVariance</key>
    <real>99.129997</real>
    <key>finishParticleSize</key>
    <real>18.740000</real>
    <key>finishParticleSizeVariance</key>
    <real>0.000000</real>
    <key>sourcePositionx</key>
    <real>0.000000</real>
    <key>sourcePositiony</key>
    <real>0.000000</real>
    <key>sourcePositionVariancex</key>
    <real>43.619999</real>
    <key>sourcePositionVariancey</key>
    <real>28.250000</real>
    <key>rotationStart</key>
    <real>0.000000</real>
    <key>rotationStartVariance</key>
    <real>0.000000</real>
    <key>rotationEnd</key>
    <real>0.000000</real>
    <key>rotationEndVariance</key>
    <real>0.000000</real>
    <key>emitterType</key>
    <integer>1</integer>
    <key>maxRadius</key>
    <real>0.000000</real>
    <key>maxRadiusVariance</key>
    <real>256.000000</real>
    <key>minRadius</key>
    <real>64.000000</real>
    <key>minRadiusVariance</key>
    <real>256.000000</real>
    <key>rotatePerSecond</key>
    <real>15.000000</real>
    <key>rotatePerSecondVariance</key>
    <real>0.000000</real>
    <key>particleLifespan</key>
    <real>1.000000</real>
    <key>particleLifespanVariance</key>
    <real>7.300000</real>
    <key>textureFileName</key>
    <string>3.png</string>
  </dict>
</plist>
