<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1281},{232,242}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{232,242}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>anim_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1222},{234,242}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{234,242}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>anim_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1074},{204,252}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{204,252}}</string>
                <key>sourceSize</key>
                <string>{218,258}</string>
            </dict>
            <key>anim_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,417},{176,234}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{176,234}}</string>
                <key>sourceSize</key>
                <string>{218,258}</string>
            </dict>
            <key>anim_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{188,258}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{188,258}}</string>
                <key>sourceSize</key>
                <string>{218,258}</string>
            </dict>
            <key>anim_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,1216},{206,246}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{206,246}}</string>
                <key>sourceSize</key>
                <string>{218,258}</string>
            </dict>
            <key>anim_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,760},{164,222}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{164,222}}</string>
                <key>sourceSize</key>
                <string>{194,258}</string>
            </dict>
            <key>anim_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1894},{152,234}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{152,234}}</string>
                <key>sourceSize</key>
                <string>{194,258}</string>
            </dict>
            <key>anim_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,985},{154,234}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{154,234}}</string>
                <key>sourceSize</key>
                <string>{194,258}</string>
            </dict>
            <key>anim_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,654},{162,224}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{162,224}}</string>
                <key>sourceSize</key>
                <string>{194,258}</string>
            </dict>
            <key>background_login.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{642,1042}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,1042}}</string>
                <key>sourceSize</key>
                <string>{642,1042}</string>
            </dict>
            <key>background_main.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,1042}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,1042}}</string>
                <key>sourceSize</key>
                <string>{642,1042}</string>
            </dict>
            <key>banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1894},{642,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,130}}</string>
                <key>sourceSize</key>
                <string>{642,130}</string>
            </dict>
            <key>bird_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,991},{252,222}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{252,222}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>bird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,819},{252,222}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,19},{252,222}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>bird_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{26,26}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>button_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,2},{182,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,88}</string>
            </dict>
            <key>button_play_ai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,818},{322,170}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{322,170}}</string>
                <key>sourceSize</key>
                <string>{322,182}</string>
            </dict>
            <key>button_play_com.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,645},{322,170}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{322,170}}</string>
                <key>sourceSize</key>
                <string>{322,182}</string>
            </dict>
            <key>button_play_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,435},{322,170}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{322,170}}</string>
                <key>sourceSize</key>
                <string>{322,182}</string>
            </dict>
            <key>cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,417},{375,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,225}}</string>
                <key>sourceSize</key>
                <string>{375,225}</string>
            </dict>
            <key>cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,263},{184,169}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{184,169}}</string>
                <key>sourceSize</key>
                <string>{194,177}</string>
            </dict>
            <key>fight_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1047},{642,844}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,844}}</string>
                <key>sourceSize</key>
                <string>{642,844}</string>
            </dict>
            <key>icon_yakyuken.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,2},{412,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,51},{412,412}}</string>
                <key>sourceSize</key>
                <string>{514,514}</string>
            </dict>
            <key>ui_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1047},{604,994}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{604,994}}</string>
                <key>sourceSize</key>
                <string>{642,1042}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pix_source.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0923f286b790f6051e87146369975d1f:1/1$</string>
            <key>textureFileName</key>
            <string>pix_source.png</string>
        </dict>
    </dict>
</plist>
